<div>
    <head>
        <style>
            form {
                text-align: center;
                margin: auto;
                border: 3px solid green;
                padding: 50px 50px;
                width: 400px;
                min-height: 100px;
                height: auto;
            }
        </style>
    </head>
    <form>

        <label for="UserName">Your Name:</label><br>
        <input type='text' id="UserName", name="UserName"><br>
        <label for="email">Your Email:</label><br>
        <input type='text' id="Useremail", name="Useremail"><br>
        <label for="password">Your Password:</label><br>
        <input type='text' id="Userpassword", name="Userpassword"><br>
        
    </form>
    <div style="text-align: center; padding-top: 30px;">
        <button onclick="login()", style="text-align: center; margin: auto; display: inline; width: 70px; height: 40px;">
            Login
        </button>
        <button onclick="toSignUp()", style="text-align: center; margin: auto; display: inline; margin-left: 100px; width: 70px; height: 40px;">
            Signup
        </button>
    </div>
    
    <script type="text/javascript">
        function login() {
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            var raw = JSON.stringify({
                "name": document.getElementById("Username").value,
                "email": document.getElementById("Useremail").value
            });
            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };
            const url = "http://localhost:8000/Users/";
            fetch(url, requestOptions).then(response => response.text());
        }
        function toSignUp() {
            console.log("Here")
            location.href = 'http://localhost:8080/signup/';
            return false;
        }
    </script>
</div>

