<div>
    <head>
        <style>
            form {
                text-align: center;
                margin: auto;
                border: 3px solid green;
                padding: 20px 20px;
                width: 400px;
                min-height: 100px;
                height: auto;
            }
        </style>
    </head>

    <div>
        <h1 style="text-align: center; padding-bottom: 20px; padding-top: 20px;">Username</h1>
    </div>

    <form>

        <button onclick = "goToRent()", style="text-align: center; margin: auto; display: inline; width: 120px; height: 40px;">
            I Want To Rent
        </button><br><br>
        <button onclick = "seeMyInfo()", style="text-align: center; margin: auto; display: inline; width: 120px; height: 40px;">
            See My Info
        </button><br><br>
        <button onclick = "seeAllEvents()", style="text-align: center; margin: auto; display: inline; width: 120px; height: 40px;">
            See All Events
        </button><br><br>
        <button onclick = "postMessage()", style="text-align: center; margin: auto; display: inline; width: 120px; height: 40px;">
            Post A Message
        </button><br><br>
        <button onclick = "logOut()", style="text-align: center; margin: auto; display: inline; width: 120px; height: 40px;">
            Logout
        </button><br><br>
        
    </form>

    <script type="text/javascript">
        function goToRent() {
            //location.href = '';
            return false;
        }
        function seeMyInfo() {
            //location.href = '';
            return false;
        }
        function seeAllEvents() {
            //location.href = '';
            return false;
        }
        function postMessage() {
            //location.href = '';
            return false;
        }
        function logOut() {
            //location.href = '';
            return false;
        }
    </script>
</div>
